SocialInsurance/SocialInsurance/Service References/SocialInsuranceService/ShbServ.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:intf="http://192.168.81.231:7001/szggfw/services/ShbServ" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://192.168.81.231:7001/szggfw/services/ShbServ" targetNamespace="http://192.168.81.231:7001/szggfw/services/ShbServ" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types />
  <wsdl:message name="lb010101Request">
    <wsdl:part name="ahb401" type="xsd:string" />
    <wsdl:part name="aab301" type="xsd:string" />
    <wsdl:part name="ahf019" type="xsd:string" />
    <wsdl:part name="rows" type="xsd:long" />
    <wsdl:part name="cpage" type="xsd:long" />
  </wsdl:message>
  <wsdl:message name="lb080101Request">
    <wsdl:part name="acb333" type="xsd:string" />
    <wsdl:part name="acb334" type="xsd:string" />
    <wsdl:part name="rows" type="xsd:long" />
    <wsdl:part name="cpage" type="xsd:long" />
  </wsdl:message>
  <wsdl:message name="lb060701Response">
    <wsdl:part name="lb060701Return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="sjwzsbk000Response">
    <wsdl:part name="sjwzsbk000Return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="si070201Request">
    <wsdl:part name="aac001" type="xsd:string" />
    <wsdl:part name="aac002" type="xsd:string" />
    <wsdl:part name="rows" type="xsd:long" />
    <wsdl:part name="cpage" type="xsd:long" />
  </wsdl:message>
  <wsdl:message name="lb040101Response">
    <wsdl:part name="lb040101Return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="si030602Request">
    <wsdl:part name="aac001" type="xsd:string" />
    <wsdl:part name="aac002" type="xsd:string" />
    <wsdl:part name="akf066" type="xsd:string" />
    <wsdl:part name="aae001" type="xsd:long" />
    <wsdl:part name="rows" type="xsd:long" />
    <wsdl:part name="cpage" type="xsd:long" />
  </wsdl:message>
  <wsdl:message name="si060901Request">
    <wsdl:part name="aac001" type="xsd:string" />
    <wsdl:part name="aac002" type="xsd:string" />
    <wsdl:part name="rows" type="xsd:long" />
    <wsdl:part name="cpage" type="xsd:long" />
  </wsdl:message>
  <wsdl:message name="lb011101Request">
    <wsdl:part name="aca112" type="xsd:string" />
    <wsdl:part name="aab301" type="xsd:string" />
    <wsdl:part name="rows" type="xsd:long" />
    <wsdl:part name="cpage" type="xsd:long" />
  </wsdl:message>
  <wsdl:message name="lb010301Request">
    <wsdl:part name="aca112" type="xsd:string" />
    <wsdl:part name="aab301" type="xsd:string" />
    <wsdl:part name="rows" type="xsd:long" />
    <wsdl:part name="cpage" type="xsd:long" />
  </wsdl:message>
  <wsdl:message name="lb070202Request">
    <wsdl:part name="aac001" type="xsd:string" />
    <wsdl:part name="aac002" type="xsd:string" />
    <wsdl:part name="rows" type="xsd:long" />
    <wsdl:part name="cpage" type="xsd:long" />
  </wsdl:message>
  <wsdl:message name="si050601Request">
    <wsdl:part name="akf025" type="xsd:string" />
    <wsdl:part name="akf027" type="xsd:string" />
    <wsdl:part name="rows" type="xsd:long" />
    <wsdl:part name="cpage" type="xsd:long" />
  </wsdl:message>
  <wsdl:message name="lb040201Response">
    <wsdl:part name="lb040201Return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="si120201Request">
    <wsdl:part name="aac001" type="xsd:string" />
    <wsdl:part name="aac002" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="lb070201Request">
    <wsdl:part name="aac001" type="xsd:string" />
    <wsdl:part name="aac002" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="si080201Response">
    <wsdl:part name="si080201Return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="lb061001Response">
    <wsdl:part name="lb061001Return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="lb030401Response">
    <wsdl:part name="lb030401Return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="si030601Request">
    <wsdl:part name="aac001" type="xsd:string" />
    <wsdl:part name="aac002" type="xsd:string" />
    <wsdl:part name="akf066" type="xsd:string" />
    <wsdl:part name="aae001" type="xsd:long" />
    <wsdl:part name="rows" type="xsd:long" />
    <wsdl:part name="cpage" type="xsd:long" />
  </wsdl:message>
  <wsdl:message name="lb080102Request">
    <wsdl:part name="aca112" type="xsd:string" />
    <wsdl:part name="acb330" type="xsd:string" />
    <wsdl:part name="rows" type="xsd:long" />
    <wsdl:part name="cpage" type="xsd:long" />
  </wsdl:message>
  <wsdl:message name="si010201Response">
    <wsdl:part name="si010201Return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="lb060901Response">
    <wsdl:part name="lb060901Return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="si020201Response">
    <wsdl:part name="si020201Return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="lb070302Response">
    <wsdl:part name="lb070302Return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="si040501Response">
    <wsdl:part name="si040501Return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="lb010901Request">
    <wsdl:part name="ahb401" type="xsd:string" />
    <wsdl:part name="aab301" type="xsd:string" />
    <wsdl:part name="ahf019" type="xsd:string" />
    <wsdl:part name="rows" type="xsd:long" />
    <wsdl:part name="cpage" type="xsd:long" />
  </wsdl:message>
  <wsdl:message name="si120101Request">
    <wsdl:part name="aac001" type="xsd:string" />
    <wsdl:part name="aac002" type="xsd:string" />
    <wsdl:part name="rows" type="xsd:long" />
    <wsdl:part name="cpage" type="xsd:long" />
  </wsdl:message>
  <wsdl:message name="lb060801Response">
    <wsdl:part name="lb060801Return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="lb060701Request">
    <wsdl:part name="aac001" type="xsd:string" />
    <wsdl:part name="aac002" type="xsd:string" />
    <wsdl:part name="rows" type="xsd:long" />
    <wsdl:part name="cpage" type="xsd:long" />
  </wsdl:message>
  <wsdl:message name="si020401Response">
    <wsdl:part name="si020401Return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="si110101Response">
    <wsdl:part name="si110101Return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="si090201Response">
    <wsdl:part name="si090201Return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="si010601Request">
    <wsdl:part name="aac001" type="xsd:string" />
    <wsdl:part name="aac002" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="si080201Request">
    <wsdl:part name="aac001" type="xsd:string" />
    <wsdl:part name="aac002" type="xsd:string" />
    <wsdl:part name="rows" type="xsd:long" />
    <wsdl:part name="cpage" type="xsd:long" />
  </wsdl:message>
  <wsdl:message name="si120101Response">
    <wsdl:part name="si120101Return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="sjwz000001Request">
    <wsdl:part name="aac001" type="xsd:string" />
    <wsdl:part name="aac002" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="si090401Request">
    <wsdl:part name="aac001" type="xsd:string" />
    <wsdl:part name="aac002" type="xsd:string" />
    <wsdl:part name="rows" type="xsd:long" />
    <wsdl:part name="cpage" type="xsd:long" />
  </wsdl:message>
  <wsdl:message name="lb010201Response">
    <wsdl:part name="lb010201Return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="si030701Response">
    <wsdl:part name="si030701Return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="si030602Response">
    <wsdl:part name="si030602Return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="si030801Response">
    <wsdl:part name="si030801Return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="si040201Request">
    <wsdl:part name="aac001" type="xsd:string" />
    <wsdl:part name="aac002" type="xsd:string" />
    <wsdl:part name="rows" type="xsd:long" />
    <wsdl:part name="cpage" type="xsd:long" />
  </wsdl:message>
  <wsdl:message name="lb080101Response">
    <wsdl:part name="lb080101Return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="sjwz000001Response">
    <wsdl:part name="sjwz000001Return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="lb070202Response">
    <wsdl:part name="lb070202Return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="si020201Request">
    <wsdl:part name="aac001" type="xsd:string" />
    <wsdl:part name="aac002" type="xsd:string" />
    <wsdl:part name="rows" type="xsd:long" />
    <wsdl:part name="cpage" type="xsd:long" />
  </wsdl:message>
  <wsdl:message name="lb010201Request">
    <wsdl:part name="aca112" type="xsd:string" />
    <wsdl:part name="aab301" type="xsd:string" />
    <wsdl:part name="rows" type="xsd:long" />
    <wsdl:part name="cpage" type="xsd:long" />
  </wsdl:message>
  <wsdl:message name="si030701Request">
    <wsdl:part name="aac001" type="xsd:string" />
    <wsdl:part name="aac002" type="xsd:string" />
    <wsdl:part name="rows" type="xsd:long" />
    <wsdl:part name="cpage" type="xsd:long" />
  </wsdl:message>
  <wsdl:message name="si030201Request">
    <wsdl:part name="aac001" type="xsd:string" />
    <wsdl:part name="aac002" type="xsd:string" />
    <wsdl:part name="rows" type="xsd:long" />
    <wsdl:part name="cpage" type="xsd:long" />
  </wsdl:message>
  <wsdl:message name="si061001Response">
    <wsdl:part name="si061001Return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="si020401Request">
    <wsdl:part name="aac001" type="xsd:string" />
    <wsdl:part name="aac002" type="xsd:string" />
    <wsdl:part name="rows" type="xsd:long" />
    <wsdl:part name="cpage" type="xsd:long" />
  </wsdl:message>
  <wsdl:message name="si030801Request">
    <wsdl:part name="aac001" type="xsd:string" />
    <wsdl:part name="aac002" type="xsd:string" />
    <wsdl:part name="rows" type="xsd:long" />
    <wsdl:part name="cpage" type="xsd:long" />
  </wsdl:message>
  <wsdl:message name="lb080201Response">
    <wsdl:part name="lb080201Return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="si090201Request">
    <wsdl:part name="aac001" type="xsd:string" />
    <wsdl:part name="aac002" type="xsd:string" />
    <wsdl:part name="rows" type="xsd:long" />
    <wsdl:part name="cpage" type="xsd:long" />
  </wsdl:message>
  <wsdl:message name="lb060801Request">
    <wsdl:part name="aac001" type="xsd:string" />
    <wsdl:part name="aac002" type="xsd:string" />
    <wsdl:part name="rows" type="xsd:long" />
    <wsdl:part name="cpage" type="xsd:long" />
  </wsdl:message>
  <wsdl:message name="lb070302Request">
    <wsdl:part name="aac001" type="xsd:string" />
    <wsdl:part name="aac002" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="lb070201Response">
    <wsdl:part name="lb070201Return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="lb010301Response">
    <wsdl:part name="lb010301Return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="si070201Response">
    <wsdl:part name="si070201Return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="lb070102Response">
    <wsdl:part name="lb070102Return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="si010401Request">
    <wsdl:part name="aac001" type="xsd:string" />
    <wsdl:part name="aac002" type="xsd:string" />
    <wsdl:part name="rows" type="xsd:long" />
    <wsdl:part name="cpage" type="xsd:long" />
  </wsdl:message>
  <wsdl:message name="lb030302Response">
    <wsdl:part name="lb030302Return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="lb010901Response">
    <wsdl:part name="lb010901Return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="si030601Response">
    <wsdl:part name="si030601Return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="lb010101Response">
    <wsdl:part name="lb010101Return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="lb061001Request">
    <wsdl:part name="aac001" type="xsd:string" />
    <wsdl:part name="aac002" type="xsd:string" />
    <wsdl:part name="rows" type="xsd:long" />
    <wsdl:part name="cpage" type="xsd:long" />
  </wsdl:message>
  <wsdl:message name="si010201Request">
    <wsdl:part name="aac001" type="xsd:string" />
    <wsdl:part name="aac002" type="xsd:string" />
    <wsdl:part name="rows" type="xsd:long" />
    <wsdl:part name="cpage" type="xsd:long" />
  </wsdl:message>
  <wsdl:message name="si060901Response">
    <wsdl:part name="si060901Return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="si040401Response">
    <wsdl:part name="si040401Return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="si010401Response">
    <wsdl:part name="si010401Return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="lb030401Request">
    <wsdl:part name="acc200" type="xsd:long" />
    <wsdl:part name="rows" type="xsd:long" />
    <wsdl:part name="cpage" type="xsd:long" />
  </wsdl:message>
  <wsdl:message name="sjwzsbk000Request">
    <wsdl:part name="aac001" type="xsd:string" />
    <wsdl:part name="aac002" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="lb070103Response">
    <wsdl:part name="lb070103Return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="si030901Request">
    <wsdl:part name="aac001" type="xsd:string" />
    <wsdl:part name="aac002" type="xsd:string" />
    <wsdl:part name="rows" type="xsd:long" />
    <wsdl:part name="cpage" type="xsd:long" />
  </wsdl:message>
  <wsdl:message name="lb011001Response">
    <wsdl:part name="lb011001Return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="si030901Response">
    <wsdl:part name="si030901Return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="si090401Response">
    <wsdl:part name="si090401Return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="si061001Request">
    <wsdl:part name="aac001" type="xsd:string" />
    <wsdl:part name="aac002" type="xsd:string" />
    <wsdl:part name="rows" type="xsd:long" />
    <wsdl:part name="cpage" type="xsd:long" />
  </wsdl:message>
  <wsdl:message name="si050201Request">
    <wsdl:part name="aac001" type="xsd:string" />
    <wsdl:part name="aac002" type="xsd:string" />
    <wsdl:part name="rows" type="xsd:long" />
    <wsdl:part name="cpage" type="xsd:long" />
  </wsdl:message>
  <wsdl:message name="si030201Response">
    <wsdl:part name="si030201Return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="lb070301Response">
    <wsdl:part name="lb070301Return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="lb040101Request">
    <wsdl:part name="aac001" type="xsd:string" />
    <wsdl:part name="aac002" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="si120201Response">
    <wsdl:part name="si120201Return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="si010601Response">
    <wsdl:part name="si010601Return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="lb070103Request">
    <wsdl:part name="aac001" type="xsd:string" />
    <wsdl:part name="aac002" type="xsd:string" />
    <wsdl:part name="rows" type="xsd:long" />
    <wsdl:part name="cpage" type="xsd:long" />
  </wsdl:message>
  <wsdl:message name="si110101Request">
    <wsdl:part name="akb020" type="xsd:string" />
    <wsdl:part name="akb021" type="xsd:string" />
    <wsdl:part name="akf053" type="xsd:string" />
    <wsdl:part name="aab020" type="xsd:string" />
    <wsdl:part name="akf054" type="xsd:string" />
    <wsdl:part name="akf055" type="xsd:string" />
    <wsdl:part name="akf056" type="xsd:string" />
    <wsdl:part name="rows" type="xsd:long" />
    <wsdl:part name="cpage" type="xsd:long" />
  </wsdl:message>
  <wsdl:message name="si050201Response">
    <wsdl:part name="si050201Return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="lb080102Response">
    <wsdl:part name="lb080102Return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="lb040201Request">
    <wsdl:part name="aac001" type="xsd:string" />
    <wsdl:part name="aac002" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="si040401Request">
    <wsdl:part name="aac001" type="xsd:string" />
    <wsdl:part name="aac002" type="xsd:string" />
    <wsdl:part name="akf066" type="xsd:string" />
    <wsdl:part name="aae001" type="xsd:long" />
    <wsdl:part name="rows" type="xsd:long" />
    <wsdl:part name="cpage" type="xsd:long" />
  </wsdl:message>
  <wsdl:message name="si040201Response">
    <wsdl:part name="si040201Return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="si040501Request">
    <wsdl:part name="aka061" type="xsd:string" />
    <wsdl:part name="akf021" type="xsd:string" />
    <wsdl:part name="akf022" type="xsd:string" />
    <wsdl:part name="rows" type="xsd:long" />
    <wsdl:part name="cpage" type="xsd:long" />
  </wsdl:message>
  <wsdl:message name="lb070102Request">
    <wsdl:part name="aac001" type="xsd:string" />
    <wsdl:part name="aac002" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="lb011101Response">
    <wsdl:part name="lb011101Return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="si051101Request">
    <wsdl:part name="akf050" type="xsd:string" />
    <wsdl:part name="akf051" type="xsd:string" />
    <wsdl:part name="rows" type="xsd:long" />
    <wsdl:part name="cpage" type="xsd:long" />
  </wsdl:message>
  <wsdl:message name="si070401Response">
    <wsdl:part name="si070401Return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="lb030302Request">
    <wsdl:part name="aac001" type="xsd:string" />
    <wsdl:part name="aac002" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="lb080103Request">
    <wsdl:part name="aab004" type="xsd:string" />
    <wsdl:part name="acb330" type="xsd:string" />
    <wsdl:part name="rows" type="xsd:long" />
    <wsdl:part name="cpage" type="xsd:long" />
  </wsdl:message>
  <wsdl:message name="si051101Response">
    <wsdl:part name="si051101Return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="lb060901Request">
    <wsdl:part name="aac001" type="xsd:string" />
    <wsdl:part name="aac002" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="si050601Response">
    <wsdl:part name="si050601Return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="lb011001Request">
    <wsdl:part name="aca112" type="xsd:string" />
    <wsdl:part name="aab301" type="xsd:string" />
    <wsdl:part name="rows" type="xsd:long" />
    <wsdl:part name="cpage" type="xsd:long" />
  </wsdl:message>
  <wsdl:message name="lb080201Request">
    <wsdl:part name="aac002" type="xsd:string" />
    <wsdl:part name="aac003" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="si070401Request">
    <wsdl:part name="aac001" type="xsd:string" />
    <wsdl:part name="aac002" type="xsd:string" />
    <wsdl:part name="rows" type="xsd:long" />
    <wsdl:part name="cpage" type="xsd:long" />
  </wsdl:message>
  <wsdl:message name="lb080103Response">
    <wsdl:part name="lb080103Return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="lb070301Request">
    <wsdl:part name="aac001" type="xsd:string" />
    <wsdl:part name="aac002" type="xsd:string" />
  </wsdl:message>
  <wsdl:portType name="ShbServ">
    <wsdl:operation name="si040501" parameterOrder="aka061 akf021 akf022 rows cpage">
      <wsdl:input name="si040501Request" message="impl:si040501Request" />
      <wsdl:output name="si040501Response" message="impl:si040501Response" />
    </wsdl:operation>
    <wsdl:operation name="si050601" parameterOrder="akf025 akf027 rows cpage">
      <wsdl:input name="si050601Request" message="impl:si050601Request" />
      <wsdl:output name="si050601Response" message="impl:si050601Response" />
    </wsdl:operation>
    <wsdl:operation name="si051101" parameterOrder="akf050 akf051 rows cpage">
      <wsdl:input name="si051101Request" message="impl:si051101Request" />
      <wsdl:output name="si051101Response" message="impl:si051101Response" />
    </wsdl:operation>
    <wsdl:operation name="si110101" parameterOrder="akb020 akb021 akf053 aab020 akf054 akf055 akf056 rows cpage">
      <wsdl:input name="si110101Request" message="impl:si110101Request" />
      <wsdl:output name="si110101Response" message="impl:si110101Response" />
    </wsdl:operation>
    <wsdl:operation name="si120101" parameterOrder="aac001 aac002 rows cpage">
      <wsdl:input name="si120101Request" message="impl:si120101Request" />
      <wsdl:output name="si120101Response" message="impl:si120101Response" />
    </wsdl:operation>
    <wsdl:operation name="si120201" parameterOrder="aac001 aac002">
      <wsdl:input name="si120201Request" message="impl:si120201Request" />
      <wsdl:output name="si120201Response" message="impl:si120201Response" />
    </wsdl:operation>
    <wsdl:operation name="si010601" parameterOrder="aac001 aac002">
      <wsdl:input name="si010601Request" message="impl:si010601Request" />
      <wsdl:output name="si010601Response" message="impl:si010601Response" />
    </wsdl:operation>
    <wsdl:operation name="si010201" parameterOrder="aac001 aac002 rows cpage">
      <wsdl:input name="si010201Request" message="impl:si010201Request" />
      <wsdl:output name="si010201Response" message="impl:si010201Response" />
    </wsdl:operation>
    <wsdl:operation name="si030601" parameterOrder="aac001 aac002 akf066 aae001 rows cpage">
      <wsdl:input name="si030601Request" message="impl:si030601Request" />
      <wsdl:output name="si030601Response" message="impl:si030601Response" />
    </wsdl:operation>
    <wsdl:operation name="si020201" parameterOrder="aac001 aac002 rows cpage">
      <wsdl:input name="si020201Request" message="impl:si020201Request" />
      <wsdl:output name="si020201Response" message="impl:si020201Response" />
    </wsdl:operation>
    <wsdl:operation name="si030602" parameterOrder="aac001 aac002 akf066 aae001 rows cpage">
      <wsdl:input name="si030602Request" message="impl:si030602Request" />
      <wsdl:output name="si030602Response" message="impl:si030602Response" />
    </wsdl:operation>
    <wsdl:operation name="si030201" parameterOrder="aac001 aac002 rows cpage">
      <wsdl:input name="si030201Request" message="impl:si030201Request" />
      <wsdl:output name="si030201Response" message="impl:si030201Response" />
    </wsdl:operation>
    <wsdl:operation name="si040201" parameterOrder="aac001 aac002 rows cpage">
      <wsdl:input name="si040201Request" message="impl:si040201Request" />
      <wsdl:output name="si040201Response" message="impl:si040201Response" />
    </wsdl:operation>
    <wsdl:operation name="si040401" parameterOrder="aac001 aac002 akf066 aae001 rows cpage">
      <wsdl:input name="si040401Request" message="impl:si040401Request" />
      <wsdl:output name="si040401Response" message="impl:si040401Response" />
    </wsdl:operation>
    <wsdl:operation name="si050201" parameterOrder="aac001 aac002 rows cpage">
      <wsdl:input name="si050201Request" message="impl:si050201Request" />
      <wsdl:output name="si050201Response" message="impl:si050201Response" />
    </wsdl:operation>
    <wsdl:operation name="si070201" parameterOrder="aac001 aac002 rows cpage">
      <wsdl:input name="si070201Request" message="impl:si070201Request" />
      <wsdl:output name="si070201Response" message="impl:si070201Response" />
    </wsdl:operation>
    <wsdl:operation name="si090401" parameterOrder="aac001 aac002 rows cpage">
      <wsdl:input name="si090401Request" message="impl:si090401Request" />
      <wsdl:output name="si090401Response" message="impl:si090401Response" />
    </wsdl:operation>
    <wsdl:operation name="si080201" parameterOrder="aac001 aac002 rows cpage">
      <wsdl:input name="si080201Request" message="impl:si080201Request" />
      <wsdl:output name="si080201Response" message="impl:si080201Response" />
    </wsdl:operation>
    <wsdl:operation name="si010401" parameterOrder="aac001 aac002 rows cpage">
      <wsdl:input name="si010401Request" message="impl:si010401Request" />
      <wsdl:output name="si010401Response" message="impl:si010401Response" />
    </wsdl:operation>
    <wsdl:operation name="si020401" parameterOrder="aac001 aac002 rows cpage">
      <wsdl:input name="si020401Request" message="impl:si020401Request" />
      <wsdl:output name="si020401Response" message="impl:si020401Response" />
    </wsdl:operation>
    <wsdl:operation name="si030701" parameterOrder="aac001 aac002 rows cpage">
      <wsdl:input name="si030701Request" message="impl:si030701Request" />
      <wsdl:output name="si030701Response" message="impl:si030701Response" />
    </wsdl:operation>
    <wsdl:operation name="si030801" parameterOrder="aac001 aac002 rows cpage">
      <wsdl:input name="si030801Request" message="impl:si030801Request" />
      <wsdl:output name="si030801Response" message="impl:si030801Response" />
    </wsdl:operation>
    <wsdl:operation name="si070401" parameterOrder="aac001 aac002 rows cpage">
      <wsdl:input name="si070401Request" message="impl:si070401Request" />
      <wsdl:output name="si070401Response" message="impl:si070401Response" />
    </wsdl:operation>
    <wsdl:operation name="si030901" parameterOrder="aac001 aac002 rows cpage">
      <wsdl:input name="si030901Request" message="impl:si030901Request" />
      <wsdl:output name="si030901Response" message="impl:si030901Response" />
    </wsdl:operation>
    <wsdl:operation name="si061001" parameterOrder="aac001 aac002 rows cpage">
      <wsdl:input name="si061001Request" message="impl:si061001Request" />
      <wsdl:output name="si061001Response" message="impl:si061001Response" />
    </wsdl:operation>
    <wsdl:operation name="si060901" parameterOrder="aac001 aac002 rows cpage">
      <wsdl:input name="si060901Request" message="impl:si060901Request" />
      <wsdl:output name="si060901Response" message="impl:si060901Response" />
    </wsdl:operation>
    <wsdl:operation name="si090201" parameterOrder="aac001 aac002 rows cpage">
      <wsdl:input name="si090201Request" message="impl:si090201Request" />
      <wsdl:output name="si090201Response" message="impl:si090201Response" />
    </wsdl:operation>
    <wsdl:operation name="lb040101" parameterOrder="aac001 aac002">
      <wsdl:input name="lb040101Request" message="impl:lb040101Request" />
      <wsdl:output name="lb040101Response" message="impl:lb040101Response" />
    </wsdl:operation>
    <wsdl:operation name="lb040201" parameterOrder="aac001 aac002">
      <wsdl:input name="lb040201Request" message="impl:lb040201Request" />
      <wsdl:output name="lb040201Response" message="impl:lb040201Response" />
    </wsdl:operation>
    <wsdl:operation name="lb070102" parameterOrder="aac001 aac002">
      <wsdl:input name="lb070102Request" message="impl:lb070102Request" />
      <wsdl:output name="lb070102Response" message="impl:lb070102Response" />
    </wsdl:operation>
    <wsdl:operation name="lb070103" parameterOrder="aac001 aac002 rows cpage">
      <wsdl:input name="lb070103Request" message="impl:lb070103Request" />
      <wsdl:output name="lb070103Response" message="impl:lb070103Response" />
    </wsdl:operation>
    <wsdl:operation name="lb070201" parameterOrder="aac001 aac002">
      <wsdl:input name="lb070201Request" message="impl:lb070201Request" />
      <wsdl:output name="lb070201Response" message="impl:lb070201Response" />
    </wsdl:operation>
    <wsdl:operation name="lb070202" parameterOrder="aac001 aac002 rows cpage">
      <wsdl:input name="lb070202Request" message="impl:lb070202Request" />
      <wsdl:output name="lb070202Response" message="impl:lb070202Response" />
    </wsdl:operation>
    <wsdl:operation name="lb070301" parameterOrder="aac001 aac002">
      <wsdl:input name="lb070301Request" message="impl:lb070301Request" />
      <wsdl:output name="lb070301Response" message="impl:lb070301Response" />
    </wsdl:operation>
    <wsdl:operation name="lb070302" parameterOrder="aac001 aac002">
      <wsdl:input name="lb070302Request" message="impl:lb070302Request" />
      <wsdl:output name="lb070302Response" message="impl:lb070302Response" />
    </wsdl:operation>
    <wsdl:operation name="lb060801" parameterOrder="aac001 aac002 rows cpage">
      <wsdl:input name="lb060801Request" message="impl:lb060801Request" />
      <wsdl:output name="lb060801Response" message="impl:lb060801Response" />
    </wsdl:operation>
    <wsdl:operation name="lb060901" parameterOrder="aac001 aac002">
      <wsdl:input name="lb060901Request" message="impl:lb060901Request" />
      <wsdl:output name="lb060901Response" message="impl:lb060901Response" />
    </wsdl:operation>
    <wsdl:operation name="lb080201" parameterOrder="aac002 aac003">
      <wsdl:input name="lb080201Request" message="impl:lb080201Request" />
      <wsdl:output name="lb080201Response" message="impl:lb080201Response" />
    </wsdl:operation>
    <wsdl:operation name="lb060701" parameterOrder="aac001 aac002 rows cpage">
      <wsdl:input name="lb060701Request" message="impl:lb060701Request" />
      <wsdl:output name="lb060701Response" message="impl:lb060701Response" />
    </wsdl:operation>
    <wsdl:operation name="lb030302" parameterOrder="aac001 aac002">
      <wsdl:input name="lb030302Request" message="impl:lb030302Request" />
      <wsdl:output name="lb030302Response" message="impl:lb030302Response" />
    </wsdl:operation>
    <wsdl:operation name="lb030401" parameterOrder="acc200 rows cpage">
      <wsdl:input name="lb030401Request" message="impl:lb030401Request" />
      <wsdl:output name="lb030401Response" message="impl:lb030401Response" />
    </wsdl:operation>
    <wsdl:operation name="lb061001" parameterOrder="aac001 aac002 rows cpage">
      <wsdl:input name="lb061001Request" message="impl:lb061001Request" />
      <wsdl:output name="lb061001Response" message="impl:lb061001Response" />
    </wsdl:operation>
    <wsdl:operation name="lb010101" parameterOrder="ahb401 aab301 ahf019 rows cpage">
      <wsdl:input name="lb010101Request" message="impl:lb010101Request" />
      <wsdl:output name="lb010101Response" message="impl:lb010101Response" />
    </wsdl:operation>
    <wsdl:operation name="lb010201" parameterOrder="aca112 aab301 rows cpage">
      <wsdl:input name="lb010201Request" message="impl:lb010201Request" />
      <wsdl:output name="lb010201Response" message="impl:lb010201Response" />
    </wsdl:operation>
    <wsdl:operation name="lb010301" parameterOrder="aca112 aab301 rows cpage">
      <wsdl:input name="lb010301Request" message="impl:lb010301Request" />
      <wsdl:output name="lb010301Response" message="impl:lb010301Response" />
    </wsdl:operation>
    <wsdl:operation name="lb010901" parameterOrder="ahb401 aab301 ahf019 rows cpage">
      <wsdl:input name="lb010901Request" message="impl:lb010901Request" />
      <wsdl:output name="lb010901Response" message="impl:lb010901Response" />
    </wsdl:operation>
    <wsdl:operation name="lb011001" parameterOrder="aca112 aab301 rows cpage">
      <wsdl:input name="lb011001Request" message="impl:lb011001Request" />
      <wsdl:output name="lb011001Response" message="impl:lb011001Response" />
    </wsdl:operation>
    <wsdl:operation name="lb011101" parameterOrder="aca112 aab301 rows cpage">
      <wsdl:input name="lb011101Request" message="impl:lb011101Request" />
      <wsdl:output name="lb011101Response" message="impl:lb011101Response" />
    </wsdl:operation>
    <wsdl:operation name="lb080101" parameterOrder="acb333 acb334 rows cpage">
      <wsdl:input name="lb080101Request" message="impl:lb080101Request" />
      <wsdl:output name="lb080101Response" message="impl:lb080101Response" />
    </wsdl:operation>
    <wsdl:operation name="lb080102" parameterOrder="aca112 acb330 rows cpage">
      <wsdl:input name="lb080102Request" message="impl:lb080102Request" />
      <wsdl:output name="lb080102Response" message="impl:lb080102Response" />
    </wsdl:operation>
    <wsdl:operation name="lb080103" parameterOrder="aab004 acb330 rows cpage">
      <wsdl:input name="lb080103Request" message="impl:lb080103Request" />
      <wsdl:output name="lb080103Response" message="impl:lb080103Response" />
    </wsdl:operation>
    <wsdl:operation name="sjwz000001" parameterOrder="aac001 aac002">
      <wsdl:input name="sjwz000001Request" message="impl:sjwz000001Request" />
      <wsdl:output name="sjwz000001Response" message="impl:sjwz000001Response" />
    </wsdl:operation>
    <wsdl:operation name="sjwzsbk000" parameterOrder="aac001 aac002">
      <wsdl:input name="sjwzsbk000Request" message="impl:sjwzsbk000Request" />
      <wsdl:output name="sjwzsbk000Response" message="impl:sjwzsbk000Response" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ShbServSoapBinding" type="impl:ShbServ">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="si040501">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="si040501Request">
        <wsdlsoap:body use="encoded" namespace="http://local.ggfw.wssip.wondersgroup.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="si040501Response">
        <wsdlsoap:body use="encoded" namespace="http://192.168.81.231:7001/szggfw/services/ShbServ" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="si050601">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="si050601Request">
        <wsdlsoap:body use="encoded" namespace="http://local.ggfw.wssip.wondersgroup.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="si050601Response">
        <wsdlsoap:body use="encoded" namespace="http://192.168.81.231:7001/szggfw/services/ShbServ" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="si051101">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="si051101Request">
        <wsdlsoap:body use="encoded" namespace="http://local.ggfw.wssip.wondersgroup.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="si051101Response">
        <wsdlsoap:body use="encoded" namespace="http://192.168.81.231:7001/szggfw/services/ShbServ" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="si110101">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="si110101Request">
        <wsdlsoap:body use="encoded" namespace="http://local.ggfw.wssip.wondersgroup.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="si110101Response">
        <wsdlsoap:body use="encoded" namespace="http://192.168.81.231:7001/szggfw/services/ShbServ" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="si120101">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="si120101Request">
        <wsdlsoap:body use="encoded" namespace="http://local.ggfw.wssip.wondersgroup.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="si120101Response">
        <wsdlsoap:body use="encoded" namespace="http://192.168.81.231:7001/szggfw/services/ShbServ" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="si120201">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="si120201Request">
        <wsdlsoap:body use="encoded" namespace="http://local.ggfw.wssip.wondersgroup.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="si120201Response">
        <wsdlsoap:body use="encoded" namespace="http://192.168.81.231:7001/szggfw/services/ShbServ" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="si010601">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="si010601Request">
        <wsdlsoap:body use="encoded" namespace="http://local.ggfw.wssip.wondersgroup.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="si010601Response">
        <wsdlsoap:body use="encoded" namespace="http://192.168.81.231:7001/szggfw/services/ShbServ" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="si010201">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="si010201Request">
        <wsdlsoap:body use="encoded" namespace="http://local.ggfw.wssip.wondersgroup.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="si010201Response">
        <wsdlsoap:body use="encoded" namespace="http://192.168.81.231:7001/szggfw/services/ShbServ" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="si030601">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="si030601Request">
        <wsdlsoap:body use="encoded" namespace="http://local.ggfw.wssip.wondersgroup.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="si030601Response">
        <wsdlsoap:body use="encoded" namespace="http://192.168.81.231:7001/szggfw/services/ShbServ" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="si020201">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="si020201Request">
        <wsdlsoap:body use="encoded" namespace="http://local.ggfw.wssip.wondersgroup.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="si020201Response">
        <wsdlsoap:body use="encoded" namespace="http://192.168.81.231:7001/szggfw/services/ShbServ" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="si030602">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="si030602Request">
        <wsdlsoap:body use="encoded" namespace="http://local.ggfw.wssip.wondersgroup.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="si030602Response">
        <wsdlsoap:body use="encoded" namespace="http://192.168.81.231:7001/szggfw/services/ShbServ" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="si030201">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="si030201Request">
        <wsdlsoap:body use="encoded" namespace="http://local.ggfw.wssip.wondersgroup.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="si030201Response">
        <wsdlsoap:body use="encoded" namespace="http://192.168.81.231:7001/szggfw/services/ShbServ" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="si040201">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="si040201Request">
        <wsdlsoap:body use="encoded" namespace="http://local.ggfw.wssip.wondersgroup.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="si040201Response">
        <wsdlsoap:body use="encoded" namespace="http://192.168.81.231:7001/szggfw/services/ShbServ" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="si040401">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="si040401Request">
        <wsdlsoap:body use="encoded" namespace="http://local.ggfw.wssip.wondersgroup.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="si040401Response">
        <wsdlsoap:body use="encoded" namespace="http://192.168.81.231:7001/szggfw/services/ShbServ" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="si050201">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="si050201Request">
        <wsdlsoap:body use="encoded" namespace="http://local.ggfw.wssip.wondersgroup.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="si050201Response">
        <wsdlsoap:body use="encoded" namespace="http://192.168.81.231:7001/szggfw/services/ShbServ" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="si070201">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="si070201Request">
        <wsdlsoap:body use="encoded" namespace="http://local.ggfw.wssip.wondersgroup.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="si070201Response">
        <wsdlsoap:body use="encoded" namespace="http://192.168.81.231:7001/szggfw/services/ShbServ" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="si090401">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="si090401Request">
        <wsdlsoap:body use="encoded" namespace="http://local.ggfw.wssip.wondersgroup.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="si090401Response">
        <wsdlsoap:body use="encoded" namespace="http://192.168.81.231:7001/szggfw/services/ShbServ" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="si080201">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="si080201Request">
        <wsdlsoap:body use="encoded" namespace="http://local.ggfw.wssip.wondersgroup.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="si080201Response">
        <wsdlsoap:body use="encoded" namespace="http://192.168.81.231:7001/szggfw/services/ShbServ" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="si010401">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="si010401Request">
        <wsdlsoap:body use="encoded" namespace="http://local.ggfw.wssip.wondersgroup.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="si010401Response">
        <wsdlsoap:body use="encoded" namespace="http://192.168.81.231:7001/szggfw/services/ShbServ" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="si020401">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="si020401Request">
        <wsdlsoap:body use="encoded" namespace="http://local.ggfw.wssip.wondersgroup.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="si020401Response">
        <wsdlsoap:body use="encoded" namespace="http://192.168.81.231:7001/szggfw/services/ShbServ" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="si030701">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="si030701Request">
        <wsdlsoap:body use="encoded" namespace="http://local.ggfw.wssip.wondersgroup.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="si030701Response">
        <wsdlsoap:body use="encoded" namespace="http://192.168.81.231:7001/szggfw/services/ShbServ" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="si030801">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="si030801Request">
        <wsdlsoap:body use="encoded" namespace="http://local.ggfw.wssip.wondersgroup.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="si030801Response">
        <wsdlsoap:body use="encoded" namespace="http://192.168.81.231:7001/szggfw/services/ShbServ" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="si070401">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="si070401Request">
        <wsdlsoap:body use="encoded" namespace="http://local.ggfw.wssip.wondersgroup.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="si070401Response">
        <wsdlsoap:body use="encoded" namespace="http://192.168.81.231:7001/szggfw/services/ShbServ" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="si030901">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="si030901Request">
        <wsdlsoap:body use="encoded" namespace="http://local.ggfw.wssip.wondersgroup.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="si030901Response">
        <wsdlsoap:body use="encoded" namespace="http://192.168.81.231:7001/szggfw/services/ShbServ" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="si061001">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="si061001Request">
        <wsdlsoap:body use="encoded" namespace="http://local.ggfw.wssip.wondersgroup.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="si061001Response">
        <wsdlsoap:body use="encoded" namespace="http://192.168.81.231:7001/szggfw/services/ShbServ" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="si060901">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="si060901Request">
        <wsdlsoap:body use="encoded" namespace="http://local.ggfw.wssip.wondersgroup.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="si060901Response">
        <wsdlsoap:body use="encoded" namespace="http://192.168.81.231:7001/szggfw/services/ShbServ" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="si090201">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="si090201Request">
        <wsdlsoap:body use="encoded" namespace="http://local.ggfw.wssip.wondersgroup.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="si090201Response">
        <wsdlsoap:body use="encoded" namespace="http://192.168.81.231:7001/szggfw/services/ShbServ" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lb040101">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="lb040101Request">
        <wsdlsoap:body use="encoded" namespace="http://local.ggfw.wssip.wondersgroup.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="lb040101Response">
        <wsdlsoap:body use="encoded" namespace="http://192.168.81.231:7001/szggfw/services/ShbServ" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lb040201">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="lb040201Request">
        <wsdlsoap:body use="encoded" namespace="http://local.ggfw.wssip.wondersgroup.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="lb040201Response">
        <wsdlsoap:body use="encoded" namespace="http://192.168.81.231:7001/szggfw/services/ShbServ" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lb070102">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="lb070102Request">
        <wsdlsoap:body use="encoded" namespace="http://local.ggfw.wssip.wondersgroup.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="lb070102Response">
        <wsdlsoap:body use="encoded" namespace="http://192.168.81.231:7001/szggfw/services/ShbServ" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lb070103">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="lb070103Request">
        <wsdlsoap:body use="encoded" namespace="http://local.ggfw.wssip.wondersgroup.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="lb070103Response">
        <wsdlsoap:body use="encoded" namespace="http://192.168.81.231:7001/szggfw/services/ShbServ" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lb070201">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="lb070201Request">
        <wsdlsoap:body use="encoded" namespace="http://local.ggfw.wssip.wondersgroup.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="lb070201Response">
        <wsdlsoap:body use="encoded" namespace="http://192.168.81.231:7001/szggfw/services/ShbServ" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lb070202">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="lb070202Request">
        <wsdlsoap:body use="encoded" namespace="http://local.ggfw.wssip.wondersgroup.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="lb070202Response">
        <wsdlsoap:body use="encoded" namespace="http://192.168.81.231:7001/szggfw/services/ShbServ" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lb070301">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="lb070301Request">
        <wsdlsoap:body use="encoded" namespace="http://local.ggfw.wssip.wondersgroup.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="lb070301Response">
        <wsdlsoap:body use="encoded" namespace="http://192.168.81.231:7001/szggfw/services/ShbServ" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lb070302">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="lb070302Request">
        <wsdlsoap:body use="encoded" namespace="http://local.ggfw.wssip.wondersgroup.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="lb070302Response">
        <wsdlsoap:body use="encoded" namespace="http://192.168.81.231:7001/szggfw/services/ShbServ" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lb060801">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="lb060801Request">
        <wsdlsoap:body use="encoded" namespace="http://local.ggfw.wssip.wondersgroup.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="lb060801Response">
        <wsdlsoap:body use="encoded" namespace="http://192.168.81.231:7001/szggfw/services/ShbServ" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lb060901">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="lb060901Request">
        <wsdlsoap:body use="encoded" namespace="http://local.ggfw.wssip.wondersgroup.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="lb060901Response">
        <wsdlsoap:body use="encoded" namespace="http://192.168.81.231:7001/szggfw/services/ShbServ" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lb080201">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="lb080201Request">
        <wsdlsoap:body use="encoded" namespace="http://local.ggfw.wssip.wondersgroup.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="lb080201Response">
        <wsdlsoap:body use="encoded" namespace="http://192.168.81.231:7001/szggfw/services/ShbServ" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lb060701">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="lb060701Request">
        <wsdlsoap:body use="encoded" namespace="http://local.ggfw.wssip.wondersgroup.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="lb060701Response">
        <wsdlsoap:body use="encoded" namespace="http://192.168.81.231:7001/szggfw/services/ShbServ" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lb030302">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="lb030302Request">
        <wsdlsoap:body use="encoded" namespace="http://local.ggfw.wssip.wondersgroup.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="lb030302Response">
        <wsdlsoap:body use="encoded" namespace="http://192.168.81.231:7001/szggfw/services/ShbServ" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lb030401">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="lb030401Request">
        <wsdlsoap:body use="encoded" namespace="http://local.ggfw.wssip.wondersgroup.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="lb030401Response">
        <wsdlsoap:body use="encoded" namespace="http://192.168.81.231:7001/szggfw/services/ShbServ" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lb061001">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="lb061001Request">
        <wsdlsoap:body use="encoded" namespace="http://local.ggfw.wssip.wondersgroup.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="lb061001Response">
        <wsdlsoap:body use="encoded" namespace="http://192.168.81.231:7001/szggfw/services/ShbServ" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lb010101">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="lb010101Request">
        <wsdlsoap:body use="encoded" namespace="http://local.ggfw.wssip.wondersgroup.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="lb010101Response">
        <wsdlsoap:body use="encoded" namespace="http://192.168.81.231:7001/szggfw/services/ShbServ" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lb010201">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="lb010201Request">
        <wsdlsoap:body use="encoded" namespace="http://local.ggfw.wssip.wondersgroup.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="lb010201Response">
        <wsdlsoap:body use="encoded" namespace="http://192.168.81.231:7001/szggfw/services/ShbServ" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lb010301">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="lb010301Request">
        <wsdlsoap:body use="encoded" namespace="http://local.ggfw.wssip.wondersgroup.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="lb010301Response">
        <wsdlsoap:body use="encoded" namespace="http://192.168.81.231:7001/szggfw/services/ShbServ" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lb010901">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="lb010901Request">
        <wsdlsoap:body use="encoded" namespace="http://local.ggfw.wssip.wondersgroup.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="lb010901Response">
        <wsdlsoap:body use="encoded" namespace="http://192.168.81.231:7001/szggfw/services/ShbServ" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lb011001">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="lb011001Request">
        <wsdlsoap:body use="encoded" namespace="http://local.ggfw.wssip.wondersgroup.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="lb011001Response">
        <wsdlsoap:body use="encoded" namespace="http://192.168.81.231:7001/szggfw/services/ShbServ" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lb011101">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="lb011101Request">
        <wsdlsoap:body use="encoded" namespace="http://local.ggfw.wssip.wondersgroup.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="lb011101Response">
        <wsdlsoap:body use="encoded" namespace="http://192.168.81.231:7001/szggfw/services/ShbServ" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lb080101">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="lb080101Request">
        <wsdlsoap:body use="encoded" namespace="http://local.ggfw.wssip.wondersgroup.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="lb080101Response">
        <wsdlsoap:body use="encoded" namespace="http://192.168.81.231:7001/szggfw/services/ShbServ" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lb080102">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="lb080102Request">
        <wsdlsoap:body use="encoded" namespace="http://local.ggfw.wssip.wondersgroup.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="lb080102Response">
        <wsdlsoap:body use="encoded" namespace="http://192.168.81.231:7001/szggfw/services/ShbServ" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lb080103">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="lb080103Request">
        <wsdlsoap:body use="encoded" namespace="http://local.ggfw.wssip.wondersgroup.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="lb080103Response">
        <wsdlsoap:body use="encoded" namespace="http://192.168.81.231:7001/szggfw/services/ShbServ" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sjwz000001">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="sjwz000001Request">
        <wsdlsoap:body use="encoded" namespace="http://local.ggfw.wssip.wondersgroup.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="sjwz000001Response">
        <wsdlsoap:body use="encoded" namespace="http://192.168.81.231:7001/szggfw/services/ShbServ" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sjwzsbk000">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="sjwzsbk000Request">
        <wsdlsoap:body use="encoded" namespace="http://local.ggfw.wssip.wondersgroup.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="sjwzsbk000Response">
        <wsdlsoap:body use="encoded" namespace="http://192.168.81.231:7001/szggfw/services/ShbServ" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ShbServService">
    <wsdl:port name="ShbServ" binding="impl:ShbServSoapBinding">
      <wsdlsoap:address location="http://58.210.114.21:8013/szggfw/services/ShbServ" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>